// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ee5c4e,
  secondary:  #007fd8,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  black:	  #000,
  lightGrey:  #cccccc	
);

$refresher-height: 60px;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$searchbar-ios-input-search-icon-color: rgba(0, 127, 216, 1);
$searchbar-ios-input-background-color: #fff;
$searchbar-ios-input-height: 3.2rem;
$list-inset-ios-margin-right: 0px;
$list-inset-ios-margin-left: 0px;
$range-ios-bar-height: 5px;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$searchbar-md-input-search-icon-color: #007fd8 !default;
$searchbar-md-input-border-radius: 5px;
$searchbar-md-input-background-color: #fff;
$searchbar-md-input-line-height: 2rem;
$searchbar-md-padding: 8px;
$list-inset-md-margin-right: 0px;
$list-inset-md-margin-left: 0px;
$range-md-bar-height: 5px;
$range-md-knob-width: 35px;
$range-md-knob-background-color: white;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$searchbar-wp-input-search-icon-color: #007fd8;
$searchbar-wp-input-border-radius: 5;
$searchbar-wp-input-background-color: #fff;
$searchbar-wp-input-height: auto;
$list-inset-wp-margin-right: 0px;
$list-inset-wp-margin-left: 0px;
$range-wp-bar-height: 5px;
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
